<div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody><tr>
          <td><a href="/users/65990">
            <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg"><br>
</a>          </td>
          <td><a href="/books/52061">3</a></td>
          <td>3</td>
        </tr>
      </tbody></table>


<%= link_to "Edit", edit_book_path(@book.id) %>
<% if @book.user == current_user %>
  <%= link_to "Destroy", destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

  <% end %>
</div>